* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: rgb(230, 222, 229);
    color: #222;
    line-height: 1.6;
}

header{
    
    background-color: rgb(235, 12, 124);
    color:beige;
    border: #222;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color:rgb(235, 240, 244);
}

.home{
    display:flex;
    flex-direction:row;
    text-align:center;
    color:white;gap:20px;
    align-items:center;
}

.container{
    display:inline-block;
    background-color: #e48dcc;
    height:35%;
    width:30%;
    border-radius: 10px;
    justify-content:center;
    text-align:center;
    color:#f4eded;


}
.card{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
    gap:20px;
}

.box{
    width: 50%;
    height:auto;
    border: 2px solid black;
    background-color:rgb(116, 6, 78);
    text-align:center;
    color:inherit;
    margin:10px;
    padding:10px
}
h2, h3 {
    margin: 5px 0;
    color:#c40999;
}

table {
    border-collapse: collapse;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}


.main-table th {
    background-color: #ffcccb;
}


table table {
    width: 100%;
    margin: 5px 0;
}

table table th {
    background-color: #f4a7b9;
}


.profile-pic {
    width: 120px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s;
}

.profile-pic:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 12px rgba(0,0,0,0.3);
}

.hover-row:hover {
    background-color: #ffe6f2;
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
    .main-table {
        font-size: 14px;
        overflow-x: auto;
        display: block;
    }

    .profile-pic {
        width: 90px;
    }

    th, td {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .profile-pic {
        width: 70px;
    }

    th, td {
        padding: 6px;
    }
}
button{
    background-color: #ffe6f2;
    width:150px;
    height:20px;
    border-radius: 3px;
    margin:5px;
}

button:hover{
    background-color: rgb(170, 226, 229);
}

footer{
    color:#222;
    background-color: rgb(235, 12, 124);
    text-align: center;
    color:beige;
    height:50px;
    padding:15px;
}
